<% if @user.trains.any? %>
	
	<h1 id="stop-table-header">Your stops</h1>
	
	<hr align="left" class="divider">
	
	<table class="pure-table">
		
		<thead>

			<tr>
				<th>
					Stop
				</th>

				<th>
					Time
				</th>

				<th>
					Days
				</th>

				<th>
					Delete
				</th>
			</tr>

		</thead>
		
		<% n = 1 %>
		<% @user.trains.each do |train| %>
		
		<tbody>

			<tr id="stop-<%= n %>">

				<td> 
					<b><%= train.line %></b> - <%= stops[train.stop] %> 
				</td>

				<% if Time.now.dst? %>
					<td> <%= (train.time + Time.zone_offset('CDT')).strftime("%I:%M %p") %> </td>
				<% else %>
					<td> <%= (train.time + Time.zone_offset('CDT') - 3600).strftime("%I:%M %p") %> </td>
				<% end %>

				<td> 
					<%= day_converter(train.days)%> 
				</td>
				
				<td> 

							<input class="pure-button delete unique" id="delete-train" title=<%=train.id%> type="submit" value="Delete" >
						
				</td>
			</tr>
			<% n += 1 %>
		<% end %>
		</tbody>
	</table>
<% end %>