<div class="profile">
	<div class="holder">

		<h1>Your phone number </h1>

		<hr class="divider" align="left">
		
		<div class="lead"><i><%= @user.phone.insert(3,'-').insert(7,'-') %></i></div>
		
		<div id="partials-div">
			<%= render partial: "stops_partial" %>
		</div>

		<h1 id="stop-header">Add a new stop</h1>
		
		<hr align="left" class="divider">
		
		<%= form_for(@train, :url => create_path(@user), html: {id: "new-stop", class: "pure-form pure-form-stacked"}) do |f| %>

			<fieldset>

				<div class="pure-g">

					<div class="pure-u-1 pure-u-md-1-2">

						<label for="select-line">Select Line</label>
						
						<select id="select-line" class="pure-input-1-2" name="line">
							
							<% cta_lines.each do |line| %>
								<option value="<%= line %>"><%= line %></option>
							<% end %>
						
						</select>
					
					</div>

					<div class="pure-u-1 pure-u-md-1-2 convenient" id="Red">
						
						<label for="select-stop">Select Stop</label>
						
						<select id="select-stop-red" class="pure-input-1-2" name="stop">
							
							<% red_line.each_key do |id| %>
								<option value="<%= id %>"><%= red_line[id] %></option>
							<% end %>	
						
						</select>
					
					</div>

					<div class="pure-u-1 pure-u-md-1-2 convenient hidden" id="Blue">
						
						<label for="select-stop">Select Stop</label>
						
						<select id="select-stop-blue" class="pure-input-1-2" name="stop">
							
							<% blue_line.each_key do |id| %>
								<option value="<%= id %>"><%= blue_line[id] %></option>
							<% end %>
						
						</select>
					
					</div>

					<div class="pure-u-1 pure-u-md-1-2 convenient hidden" id="Green">
						
						<label for="select-stop">Select Stop</label>
						
						<select id="select-stop-green" class="pure-input-1-2" name="stop">
							
							<% green_line.each_key do |id| %>
								<option value="<%= id %>"><%= green_line[id] %></option>
							<% end %>
						
						</select>
					
					</div>

					<div class="pure-u-1 pure-u-md-1-2 convenient hidden" id="Brown">
						
						<label for="select-stop">Select Stop</label>
						
						<select id="select-stop-brown" class="pure-input-1-2" name="stop">
							
							<% brown_line.each_key do |id| %>
								<option value="<%= id %>"><%= brown_line[id] %></option>
							<% end %>
						
						</select>
					
					</div>

					<div class="pure-u-1 pure-u-md-1-2 convenient hidden" id="Purple">
						
						<label for="select-stop">Select Stop</label>
						
						<select id="select-stop-purple" class="pure-input-1-2" name="stop">
							
							<% purple_line.each_key do |id| %>
								<option value="<%= id %>"><%= purple_line[id] %></option>
							<% end %>
						
						</select>
					
					</div>

					<div class="pure-u-1 pure-u-md-1-2 convenient hidden" id="PurpleExp">
						
						<label for="select-stop">Select Stop</label>
						
						<select id="select-stop-purpleexp" class="pure-input-1-2" name="stop">
							
							<% purple_line_exp.each_key do |id| %>
								<option value="<%= id %>"><%= purple_line_exp[id] %></option>
							<% end %>
						
						</select>
					
					</div>

					<div class="pure-u-1 pure-u-md-1-2 convenient hidden" id="Yellow">
						
						<label for="select-stop">Select Stop</label>
						
						<select id="select-stop-yellow" class="pure-input-1-2" name="stop">
							
							<% yellow_line.each_key do |id| %>
								<option value="<%= id %>"><%= yellow_line[id] %></option>
							<% end %>
						
						</select>
					
					</div>

					<div class="pure-u-1 pure-u-md-1-2 convenient hidden" id="Pink">
						
						<label for="select-stop">Select Stop</label>
						
						<select id="select-stop-pink" class="pure-input-1-2" name="stop">
							
							<% pink_line.each_key do |id| %>
								<option value="<%= id %>"><%= pink_line[id] %></option>
							<% end %>
						
						</select>
					
					</div>

					<div class="pure-u-1 pure-u-md-1-2 convenient hidden" id="Orange">
						
						<label for="select-stop">Select Stop</label>
						
						<select id="select-stop-orange" class="pure-input-1-2" name="stop">
							
							<% orange_line.each_key do |id| %>
								<option value="<%= id %>"><%= orange_line[id] %></option>
							<% end %>
						
						</select>
					
					</div>

					<div class="pure-u-1 pure-u-md-1-2">
						
						<label for="select-days">Select Days</label>
						
						<label class="pure-checkbox">
							<input id="monday" type=checkbox name="days[monday]" value="1">Monday
						</label>

						<label class="pure-checkbox">
							<input id="tuesday" type=checkbox name="days[tuesday]" value="2">Tuesday
						</label>

						<label class="pure-checkbox">
							<input id="wednesday" type=checkbox name="days[wednesday]" value="3">Wednesday
						</label>

						<label class="pure-checkbox">
							<input id="thursday" type=checkbox name="days[thursday]" value="4">Thursday
						</label>

						<label class="pure-checkbox">
							<input id="friday" type=checkbox name="days[friday]" value="5">Friday
						</label>

						<label class="pure-checkbox">
							<input id="saturday" type=checkbox name="days[saturday]" value="6">Saturday
						</label>

						<label class="pure-checkbox">
							<input id="sunday" type=checkbox name="days[sunday]" value="0">Sunday
						</label>

					</div>

					<div class="pure-u-1 pure-u-md-1-2">
						
						<label for="select-time">Select Time</label>
						
						<input id="select-time" class="pure-input-1-2" type="time" name="time">
					
					</div>




					<input id="user" class="hidden" type="text" value="<%= @user.id %>" name="id">

					<input id="add-stop" class="pure-button cta" type="submit" value="Add stop">
				
				</div>
			</fieldset>
		<%end%>

		<h1> The Danger Zone </h1>
		
		<hr align="left" class="divider">
		
		<form id="delete-account-form" action='/users/<%= @user.id %>/delete' method="post">
			
			<input class="pure-button cta delete" id="delete-account" type="submit" value="Delete account">
		
		
	
	</div>
</div>